*{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2b323c;
    color: #fff;
    animation: bgi 2s ease;
    font-weight: 200;
    
}




.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 11px;
    background-color: rgb(14, 76, 105);
    margin: 19px 9px;
    color: rgb(4, 67, 46);
}
@keyframes bg{
    0%{
        width: 10%;
    }
    50%{
        width: 10%;
    }
    100%{
        width: 100%
    }
}


.cont1{
    display: flex;
    width: 85%;
    justify-content: space-around;
    align-items: center;
    color: rgb(4, 67, 46);
    
}
.date{
    padding-left: 30px;
    font-weight: bold;
    background-color: transparent;
    color: #fff;
    width: 30%;
    
}
.price{
    
    
    
    margin:  10px;
    border: 1px solid rgb(111, 218, 247);
    border-radius: 19px;
    
    
}


.name{
    width: 40%;
    color: rgb(105, 235, 133);
    
}

button{
    border-radius: 8px;
    background-color: rgb(132, 27, 48);
    padding: 8px;
    outline: none;
    border: transparent;
    cursor: pointer;
}